header{
    display:flex;
    justify-content: space-between;
}
.serchinglogo{
    border-radius:10px ;
    border-color: white;
    background-color: #FFFFFF;
    border: 0px;
}
.inscriptionButton{
    border-radius: 5px;
    padding: 3px ;
    background-color: blue;
    color: white;
    width: 124px;
    height: 35px;
}
header a{
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
    gap:40px;
}
.selected-link{
    text-decoration: underline;
    color: blue;
}
.hero img{
    float: right;
}
.hero{
    color: white;
    background-color : #08111D;

}
.hero2 {
    height: 461px;
    font-size: 20px;
    border: 10px;
}
.h1blue{
    color: #034BFF;
    justify-content: space-between;
}
.simbole{
    color: #C7F64A;
}
.hero button{
    color: white;
    background-color: #034BFF;
    border: 0px;
    border-radius: 5px;
    width: 184px;
    height: 42px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    
}
.cercles{
    display: flex;
}
.cercle1-3{
    color: #08111D;
    background-color: #B8C9CF;
    border-radius:50%;
    padding: 8px 13px;
    
}
.cercle2-4{
    color: #08111D;
    background-color: #D7C3B6;
    border-radius: 50%;
    padding: 8px 13px;
}
.cecles{
    display: flex;
}

.hero2{
    margin: 15px;
}
.statistique{
    display: flex;
    justify-content: space-between;
}
.statistique h2{
    color: #034BFF;
}
.présentation-du-campus{
    background-color: #F4F7FC;
    display: flex;
    justify-content: space-between;
}
.campuss{
    display: flex;
    justify-content: space-between;
}
.exploration-camp{
    flex-direction: column;
}
.parcours{
    background-color: #D7C3B6;
}

